@page "/output"
@using HtmlAgilityPack;
@using RailAndResume.Components.Scrapers
@using RailAndResume.Models
@rendermode InteractiveServer

<PageTitle>Output</PageTitle>

<h3>Your results:</h3>

<button @onclick=foo>Click me!</button>
<div> Status: @statusText</div>

@* <ul>
	@foreach (var item in jobs)
	{
		<li>
			Name: @item.jobName
		</li>
		<li>
			Location: @item.jobLocation
		</li>
		<li>
			<a href="@item.jobLink">Link: </a>
		</li>
	}
</ul> *@

@code {

	private string statusText = "N/A";
	private string output = "";
	List<Job> jobs = new List<Job>();

	public async Task foo()
	{



	}

	// List<Scraper> jobSites = [

	// ];

	// TrainLineScraper trainLineScraper = new TrainLineScraper("https://uk.indeed.com/");
	// trainLineScraper.processContents();


}


