@page "/output"
@using HtmlAgilityPack;
@using RailAndResume.Components.Scrapers
@rendermode InteractiveServer

<PageTitle>output</PageTitle>

<h3>Your results:</h3>

<button @onclick=foo>Click me!</button>
<div> Status: @statusText</div>

@code {

	private string? titleName = "Output";
	private string statusText = "N/A";


	public async Task foo()
	{

		TrainLineScraper trainLineScraper = new TrainLineScraper("https://traintimes.org.uk");
		trainLineScraper.processContents();


	}

	// List<Scraper> jobSites = [

	// ];

	// TrainLineScraper trainLineScraper = new TrainLineScraper("https://uk.indeed.com/");

	
	// trainLineScraper.processContents();

	// DataHarvester dataHarvester = new DataHarvester(jobSites, trainLineScraper);

	// HtmlDocument? document = await tl.GrabWebPageAsync("");


}


