@page "/output"
@using HtmlAgilityPack;
@using RailAndResume.Components.Scrapers
@using RailAndResume.Models
@rendermode InteractiveServer

<PageTitle>Output</PageTitle>

<h3>Your results:</h3>

<button @onclick=foo>Click me!</button>
<div> Status: @statusText</div>

<ul>
	@foreach (var item in jobs)
	{
		<li>
			name: @item.jobName
		</li>
		<li>
			location: @item.jobLocation
		</li>
		<li>
			<a href="@item.jobLink">link: </a>
		</li>
	}
</ul>

@code {

	private string statusText = "N/A";
	private string output = "";
	List<Job> jobs = new List<Job>();

	public async Task foo()
	{

		LinkedInScraper linkedInScraper = new LinkedInScraper("https://www.linkedin.com/jobs/search/?currentJobId=4203692028&distance=25&geoId=105351059&keywords=junior%20developer&origin=JOBS_HOME_KEYWORD_HISTORY&refresh=true");

		jobs = linkedInScraper.ProcessContents();

		// IndeedScraper indeedScraper = new IndeedScraper("");

	}

	// List<Scraper> jobSites = [

	// ];

	// TrainLineScraper trainLineScraper = new TrainLineScraper("https://uk.indeed.com/");
	// trainLineScraper.processContents();


}


